<h1>Contact</h1>

<p>Este es mi formulario de contacto</p>

<form method="POST" action="/contacto">
<!-- Necesitamos un input email, un textarea y un boton de enviar (submit) -->
    <label>Email:</label>
    <input type="email" name="email" />

    <label>Mensaje</label>
    <textarea name="message" >Tu mensaje</textarea>

    <input type="submit" value="Enviar" />
</form>
