<h1>Hola mundo! Mi primera web!</h1>

<p>Este es mi párrafo</p>

<p>Este es el final de mi web</p>

<p>Puedes escribirme <a href="/contacto">en mi página de contacto!</a></p>

<p><a href="https://google.es/">Puedes ir a Google!</a></p>
